.sideNav {
  width: 220px;
  min-height: 100vh;
  background-color: #f8f9fa;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.submenu {
  padding-left: 16px;
}

.submenuLink {
  margin: 4px 0;
}
.managerLogo{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 16px;
}
.managerTitle{
  margin-bottom: 5px;
  /* font-size:bold; */
  /* font-weight: bold; */
}
.managerEmail {
  display: flex;
  justify-content: center;
  font-size: 11px;
  color: #555;
  margin-top: 4px;
  font-weight: bold;
}
.activeLink {
  background-color: #003366; /* Dark blue */
  color: white;
  border-radius: 4px;
}

.inactiveLink {
  color: black;
}


/* Hide sidebar on mobile and tablet screens */
@media (max-width: 768px) {
  .sideNav {
    display: none;
  }
}
